@import "variables.scss";
.bg {
  background-color: #131313;
  position: relative;
}
.container {
  max-width: $max-container-width;
  font-family: "Montserrat";
  padding: 1rem $padding-phone;
  margin: 3rem auto 0;
  color: white;

  h2 {
    font-size: 36px;
  }

  form {
    label {
      text-transform: capitalize;
    }
    input {
      font-family: "Montserrat";
      font-weight: 100;
      width: 90%;

      margin: 1rem 0 1.2rem;
      display: block;
      font-size: 18px;
      padding: 0.5rem 0.6rem;
      border-radius: 0.3rem;
      background-color: #2b2b2b;
      border: none;
      color: white;
      
    }
    textarea {
      font-family: "Montserrat";
      width: 90%;

      height: 9rem;
      margin: 1rem 0 1.2rem;
      display: block;
      font-size: 18px;
      padding: 0.5rem 0.4rem;
      border-radius: 0.3rem;
      background-color: #2b2b2b;
      border: none;
      color: white;
      resize: none;
     
    }

    button {
      font-family: "Montserrat";
      color: black;
      border: none;
      outline: none;
      font-weight: bold;
      font-size: 18px;
      padding: 0.8rem 2rem;
      border-radius: 0.6rem;
      background-color: #21b9b5;
      margin: 1rem 0;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #15dbd4;
      }
    }
  }
  .rightColumn {
    margin-top: 3rem;
    p {
      font-size: 24px;
      margin-bottom: 2rem;
      font-weight: 500;
    }
    div {
      display: flex;
      align-items: center;
      margin: 1rem 0;

      span {
        margin-left: 1rem;
      }
    }
    .icons {
      margin-top: 2rem;
      a {
        height: 24px;
        width: 24px;
        margin-right: 1rem;
        svg {
          color: white;
          font-size: 24px;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .container {
    padding: 1rem $padding-laptop;
    .flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .rightColumn {
      div {
        font-size: 18px;
      }
      .icons {
        margin-top: 2rem;
        a {
          height: 30px;
          width: 30px;
          margin-right: 1rem;
          svg {
            color: white;
            font-size: 30px;
          }
        }
      }
    }
  }
}
