@import "variables.scss";
.bg {
  background-color: #131313;
}
.container {
  max-width: $max-container-width;
  font-family: "Montserrat";
  padding: 1rem $padding-phone;
  margin: 3rem auto 0;
  color: white;

  h2 {
    font-size: 36px;
  }

  form {
    label {
      text-transform: capitalize;
    }
    input {
      font-family: "Montserrat";
      font-weight: 100;
      width: 90%;

      margin: 1rem 0 1.2rem;
      display: block;
      font-size: 18px;
      padding: 0.3rem 0.4rem;
      border-radius: 0.3rem;
      background-color: #2b2b2b;
      border: none;
      color: white;
      &:focus {
        outline: none;
      }
    }
    textarea {
      font-family: "Montserrat";
      width: 90%;

      height: 9rem;
      margin: 1rem 0 1.2rem;
      display: block;
      font-size: 18px;
      padding: 0.3rem 0.4rem;
      border-radius: 0.3rem;
      background-color: #2b2b2b;
      border: none;
      color: white;
      resize: none;
      &:focus {
        outline: none;
      }
    }

    button {
      font-family: "Montserrat";
      border: none;
      outline: none;
      font-weight: bold;
      font-size: 20px;
      padding: 0.6rem 1rem;
      border-radius: 2rem;
      background-color: $primary-color;
      margin: 1rem 0;
    }
  }
  .rightColumn {
    margin-top: 3rem;
    p {
      font-size: 24px;
      margin-bottom: 2rem;
    }
    div {
      display: flex;
      align-items: center;
      margin: 1rem 0;

      span {
        margin-left: 1rem;
      }
    }
  }
}

@media (min-width: 800px) {
  .container {
    padding: 1rem $padding-laptop;
    .flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
