@import "variables.scss";

.container {
  // max-width: $max-container-width;
  padding: $padding-phone;
  text-align: center;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  .leftColumn {
    h1 {
      font-size: 2rem;
      text-transform: capitalize;
      max-width: 25rem;
      margin: 3rem auto 2rem;
      font-weight: 700;
    }
    p {
      color: rgb(53, 53, 53);
      font-size: 1.3rem;
      max-width: 25rem;
      margin: 1rem auto;
    }
    .callToAction {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        font-family: "Montserrat";
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-size: 1.2rem;
        border: none;
        background-color: $primary-color;
        padding: 0.8rem 2rem;
        text-transform: capitalize;
        border-radius: 0.7rem;
        margin-top: 1.6rem;
        margin-bottom: 1.2rem;
        transition: all ease 0.3s;

        &:hover {
          cursor: pointer;
          background-color: $secondary-color-hover;
        }
      }
      span {
        display: flex;
        margin: 1rem 0;
        align-items: center;
        font-weight: 600;

        .chevronIcon {
          background-color: $secondary-color-hover;
          padding: 0.2rem;
          color: white;
          margin-left: 0.5rem;
          transition: transform 0.3s ease-out;
          border-radius: 50%;
          &:hover {
            transform: scale(1.35);
            cursor: pointer;
            // border: 1px $primary-color solid;
          }
        }
      }
    }
  }
  .heroSvg {
    width: 90%;
    margin: 0rem auto;
  }
}

@media (min-width: 590px) {
  .container {
    padding: $padding-tablet;

    .leftColumn {
      h1 {
        font-size: 2.3rem;
        max-width: 26rem;
      }
      p {
        font-size: 1.2rem;
        max-width: 20rem;
      }

      button {
        padding: auto 2rem;
      }
    }
    .heroSvg {
      width: 80%;
    }
  }
}

@media (min-width: 748px) {
  .container {
    margin-bottom: 4rem;
    margin-top: 2rem;
    .leftColumn {
      p {
        max-width: 25rem;
      }
      .callToAction {
        .button {
          padding: 1rem 4rem;
        }
      }
    }
    .heroSvg {
      width: 70%;
    }
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0 $padding-laptop;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0rem;
    max-width: fit-content;
    .leftColumn {
      text-align: left;
      margin-top: 4rem;
      width: max-content;
      h1 {
        margin-left: 0;
        font-size: 40px;
        max-width: 30rem;
        margin-bottom: 1.3rem;
      }
      p {
        font-size: 22px;
        max-width: 30rem;
        margin-bottom: 1.2rem;
        margin-left: 0;
      }
      .callToAction {
        flex-direction: row;
        align-items: baseline;
        button {
          font-size: 1.2rem;
          padding: 0.9rem 2.5rem;
        }
        span {
          font-size: 1.2rem;
          margin-left: 2.5rem;
        }
      }
    }
    .heroSvg {
      width: 45%;
    }
  }
}
@media (min-width: 1400px) {
  .container {
    margin-top: 3rem;
    .leftColumn {
      h1 {
        font-size: 55px;
        max-width: 45rem;
      }
      p {
        font-size: 24px;
      }
      .callToAction {
        button {
          font-size: 30px;
        }
      }
    }
    .heroSvg {
    }
  }
}
