@import "variables.scss";

.container {
  max-width: $max-container-width;
  font-family: "Montserrat";
  padding: 0 $padding-phone;
  margin: 0 auto;
  h2 {
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 1.7rem;
    position: relative;
    &:before {
      content: "";
      width: 2.5rem;
      height: 6px;
      background-color: $primary-color;
      position: absolute;
      border-radius: 5rem;
      top: -0.5rem;
    }
  }
}

@media (min-width: 590px) {
  .container {
    padding: 0 $padding-tablet;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 0 $padding-laptop;

    h2 {
      font-size: 26px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    h2 {
      font-size: 40px;
      &::before {
        width: 3.7rem;
      }
    }
  }
}
